body{
  font-family: Helvetica;
  color: #777;
  overflow-x: hidden;
  max-width: 100%;
  #padding-top: 100px;
}

h1{
    font-size: 36px;
    margin: 0 0 10px;
    line-height: 1.25em;
  }

  h2{
    font-size: 28px;
  }

  h3{
    font-size: 32px;
  }

  h4{
    font-size: 21px;
  }

a{
    color: #fff;
    text-decoration:none !important;

    &:hover, &:active {
      color: #fff;
    }

    &:hover, &:active, &:visited, &:link{
      text-decoration:none;
    }
}


.cta-color{
    color: #e72828;
  }

.logo{
    float: left;
    max-height:140px;
    margin-top:10px;
    margin-left:10px;
    background: #fff;
}

.header-sub {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #eee;
}


.menus-subpages ul{
    margin: 0;
    padding: 0;
    background-color: #fff;
  }

.menus-subpages li{
    display: inline-block;
    list-style: none;
    float: left;
    padding: 0;
  }

.menus-subpages li a{
    display: block;
    color: #000;
    text-align: left;
    text-transform: uppercase;
    padding: 10px 10px;
    text-decoration: none;
    margin: 0;
    width: 100%;
  }

.menus-subpages li a:hover{
    background-color: #fff;
    color: #c02630;
  }

.menus-subpages li a.contact{
    background-color: #fff;
    color: #c02630;
    border-radius: 5px;
  }

.menus-subpages li a.contact-hover:hover{
    background-color: #ccc;
  }

.menus-subpages li a.no-hover:hover:before{
    visibility: hidden;
  }

.menus-subpages .icon {
  float: right;
  display: none;
}

.banner-about{
  background: #fff url(https://s3.us-east-2.amazonaws.com/ksi-images/home/skate_off_ice.JPG) no-repeat scroll left top;
  background-size: cover;
  padding: 0 20px;
  text-align: center;
  min-height: 400px;
  margin-top: -30px;
  opacity: 0.8;
  z-index: -1;
}

.banner-team{
  background: #fff url(https://s3.us-east-2.amazonaws.com/ksi-images/home/rink.png) no-repeat scroll left center;
  background-size: cover;
  padding: 0 60px;
  text-align: center;
  min-height: 360px;
  position: relative;
  margin-top:100px;
  z-index: -1;
}

.tag-line1-teampage{
  display: none;
}

.content-block{
  width: 100%;
  padding: 0px;
}

.about-vision{
  font-size: 28px;
  line-height: 1.2em;
  text-align: justify;
}

.about-why{
  font-size: 28px;
  line-height: 1.2em;
  text-align: justify;
}

.team-bio{
    margin-top:50px;
    margin-bottom:40px;
}

.team-bio-small{
    margin-top:50px;
}

.team-bio p{
    font-size:24px;
    margin-left: 10px;
    margin-right: 20px;
    line-height: 1.2em; 
    margin-top: 10px;
    text-align: justify; 
}
.team-bio-small p{
    font-size:24px;
    margin-left: 24px;
    margin-right: 20px;
    line-height: 1.2em; 
    margin-top: 20px;
    text-align: justify; 
}

hr {
  border: 0;
  width: 100%;
}

hr.bio{
  margin-top:10px;
  border: 0;
  height: 6px;
  background: #ccc; 
  background-image: -webkit-linear-gradient(left, #efefef, #ccc, #efefef);
  background-image: -moz-linear-gradient(left, #efefef, #ccc, #efefef);
  background-image: -ms-linear-gradient(left, #efefef, #ccc, #efefef);
  background-image: -o-linear-gradient(left, #efefef, #ccc, #efefef);
}


.btn-contact{
  color: #FFF;
  background: #951d25;
  height: 60px;
  line-height: 1.2em;
  padding: 10 20px;
  border-radius: 5px;
  font-size: 24px;
}

.btn-contact:hover{
    background: #c02630;
    color: #fff;
}

.btn-ski{
  border-radius: 5px;
  line-height: 1.5em;
  height: 50px;
  padding: 4px 40px;
  border: solid 1px #801920;
  text-decoration: none;
}

.testimonials{
  background: #333;
  margin-top: 20px;
  height: 360px;
  border-radius: 5px;
  box-shadow: 3px 5px #ccc;
}

.team-testimonial{
  color: #fff;
  font-family:Georgia;
  font-size: 32px;
}

.team-testimonial-long{
  margin: 40 20 60 20px;
  color: #fff;
}

.team-testimonial-short{
  font-size:28px;
  color: #fff;
  margin: 40 20 204 20px;
}

